.about table {
	width: 600px;
	font-family: Tahoma;
	font-size: 0.8em;
	color: #666666;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
}
.about table, .about table td, .about table th {
	border: 1px solid grey;
}
.about table td, .about table th {
	margin: 5px;
	padding: 5px;
}
.about table .version{
	width: 50px;
}
.about table .description{
	width: 400px;
}
.about table .preview{
	width: 150px;
}
