.sortieList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sortieList li {
	display: inline;
	margin: 0;
	padding: 0;
}

.sortie img {
	max-width: 160px;
	max-height: 90px;
	border: 2px outset red;
	background-color: white;
}
