# resources
/ddl
/resources
/temp

# config files
/databaseConfig.php

# database
/zero-fansub.sqlite

# auto backup files
*~
.*.kate-swp

# Eclipse
.buildpath
.project
.settings

#Netbeans
/nbproject
