body
{
  background: #ffffff url('images/interface/bg_.jpg');
  font-family: 'Cantarell', Courier;
  color: #595959;
  font-size: 1em;
/*	letter-spacing: 1px;*/
}

img
{
  border: none;
  font-size: 12px;
  vertical-align: bottom;
}

p
{
	margin-top: 0;
	text-align: justify;
}

a
{
  text-decoration: none;
  color: #595959;
}

a:hover
{
  text-decoration: underline overline;
}

#main
{
	position: relative;
  margin: auto;
  width: 80%;
  margin-top: 10px;
  padding: 1%;
}

.pin
{
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
}

/****************/

#page
{
	float: left;
	width: 80%;
	margin-bottom: 1%;
}

#right_panel
{
	float: right;
	width: 18%;
	margin-bottom: 1%;
}

#logo
{
	display: block;
	margin: auto;
	width: 100%;
}

#menu
{
	list-style-type: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

#quickbar
{
	width: 100%;
	text-align: center;
	margin-bottom: 1%;
}

#footer
{
	width: 100%;
	text-align: center;
}

#menu, #quickbar, .news, .short_news
{
	border: 3px solid #DEDFE0;
	background: #D5D6D8;
}

.news, .short_news
{
	float: left;
	padding: 1%;
	margin: 1%;
}

.short_news
{
	width: 28.6%;
}

.news .title, .short_news .title
{
    font-size: 2em;
    padding: 1%;
    text-align: right;
    text-shadow: #5F5F5F 1px 1px 5px;
    text-transform: capitalize;
    /*	font-family: "Lucida Console", fantasy, monospace;*/
    font-weight: bold;
    letter-spacing: 0.15em;
}

.short_news .title
{
    font-size: 1em;
}

.news .text, .short_news .text
{
	background: white;
	border: 3px solid #DEDFE0;
	padding: 1%;
}

.news .image
{
	float: left;
	width: 30%;
	margin: 1%;
	border: 3px solid #DEDFE0;
}

.news .image img
{
	width: 100%;
}

.short_news .image
{
	display: none;
}
