body {
background: url('images/interface/bg.jpg');
font-family: Tahoma;
margin: auto;
margin-top:0;
margin-bottom: 0px;
font-size: 12px;
color: rgb(128,128,128);
}

#main {
background: url('images/interface/bg2.png') repeat-y;
margin: auto;
width: 1000px;
} 

#header{
background: url('images/interface/banniere.png') no-repeat;
margin: auto;
width: 1000px;
} 

#pageright{
background: url('images/interface/logo.png') no-repeat;
float: right;
margin: 0;
width: 203px;
} 
#partenaires{
margin-top: 135px;
} 
.partenaires {
	border: 5px solid rgb(128, 128, 128);
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
	background: rgb(214,214,214);
	opacity: 0.8;
	width: 150px;
	margin-right: 0px;
	margin-left: 53px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

#pageleft{
margin: 0;
width: 797px;
min-height: 800px;
} 
#page{
margin: 0;
width: 647px;
margin-left: 150px;
} 
#sortie {
margin: 0;
height: 126px;
}
#sortie img {
padding-top: 18px;
padding-bottom: 18px;
padding-left: 25px;
padding-right: 25px;
}

#menu{
margin: 0;
width: 150px;
float: left;
} 
#menutop {
height: 250px;
margin-bottom: 0px;
}
.menu {
	border: 5px solid rgb(128, 128, 128);
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
	background: rgb(214,214,214);
	opacity: 0.8;
	width: 150px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#footer {
background: url('images/interface/banniere.png') no-repeat;
height: 50px;
}


.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}




.menu ul {
list-style-type : none;
font-size: 13px;
text-indent: 0px;
}
ul a{
text-decoration: none;
color: rgb(80,80,80);
}
ul a:hover{
font-weight: bold;
color: rgb(80,80,80);
}
.partenaires li{
list-style-type : none;
font-size: 13px;
margin-left: 0px;
}

.p { 
text-align: center;
text-indent: 10px;
font-family: Tahoma;
font-size: 12px;
color: #666666;
margin-left: 40px;
margin-right: 40px;
margin-top: 0px;
}
.quote {
width: 550px;
background: #F0F4FF;
margin-left: 40px;
margin-right: 40px;
}

.quote:before {
content: url('images/interface/quote1.jpg');
}

.quote:after {
content: url('images/interface/quote2.jpg');
}
.p:after{
	content: url('images/interface/barre.png');
}

/*
	START OF THE STYLE FOR THE REFINED VERSION
*/
#pageContent {
margin: 0;
}
#pageContent p{ 
text-indent: 10px;
font-family: Tahoma;
font-size: 12px;
font-size: 12px;
color: #666666;
margin-left: 40px;
margin-right: 40px;
margin-top: 0px;
}
#pageContent a {
font-weight: normal;
text-decoration: none;
color: #999999;
}
#pageContent a:hover {
font-weight: bold;
}
#pageContent a:active, #pageContent a:focus {
color: #696969;
}
#pageContent a:visited {
font-decoration: line-through;
}
#pageContent p:after{ 
content: url('images/interface/barre.png');
width: 100%;
}
#pageContent h3 {
margin-left: 150px;
letter-spacing: 12px;
font-family: Tahoma;
font-weight: normal;
font-size: 18px;
}
#pageContent h2 {
color: #000000;
font-size: 17px;
margin-left: 60px;
margin-right: 20px;
margin-top: 0px;
}
#pageContent h4 /* Date, auteur, sous-titre, ect */ {
color: #999999;
font-size: 10px;
margin-left: 80px;
margin-right: 20px;
font-weight: normal;
margin-top: -15px;
}
#pageContent h5 /* épisodes */ {
color: #FFFFFF;
background: url('images/interface/episodes.png') no-repeat;
width: 603px;
height: 30px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 20px;
padding-left: 20px;
padding-top: 5px;
font-size: 16px;
font-family: 'Courier New';
}
#pageContent h5 a /* épisodes */ {
color: #FFFFFF;
background: url('images/interface/episodes.png') no-repeat;
font-size: 16px;
}
#pageContent h6 /* épisodes ND */{
background: url('images/interface/episodesnd.png') no-repeat;
width: 603px;
height: 30px;
margin-top: 0px;
margin-bottom: 0;
margin-left: 20px;
padding-left: 20px;
padding-top: 5px;
font-size: 16px;
font-family: 'Courier New';
color: #999999;
}

.about {
	width: 600px;
	font-family: Tahoma;
	font-size: 0.8em;
	color: #666666;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
}
.about, .about td, .about th {
	border: 1px solid grey;
}
.about td, .about th {
	margin: 5px;
	padding: 5px;
}
.about .version{
	width: 50px;
}
.about .description{
	width: 400px;
}
.about .preview{
	width: 150px;
}

.archives div{
	text-align: center;
}

.teamList, .teamList ul{
	list-style: none;
}
.teamList ul img{
	float: right;
	display: block;
	margin-right: 50px;
	margin-top: 10px;
	max-width: 100px;
	max-height: 100px;
}

.contact, .news, .xdcc{ 
	display: block;
	text-align: center;
	text-indent: 10px;
	font-family: Tahoma;
	font-size: 12px;
	color: #666666;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
}
.news .title, .news .subtitle { 
	text-align: left;
}
.news .message {
	display: block;
	margin-bottom: 2em;
}
.news .comment {
	display: block;
}

.projectList {
	text-align: left;
	list-style: none;
}
.projectList img {
	display: block;
	margin: auto;
	margin-bottom: 1.5em;
}

#pageContent:after, .teamList .member:after, .teamList:before, .archives:after, .news:after{
	content: url('images/interface/barre.png');
}

.testFeatures {
	text-align: center;
	border: 1px solid red;
	background-color: white;
}

.hidden {
	display: none;
	visibility: hidden;
}