body {
	background: url('images/bg.jpg');
	font-family: Tahoma;
	margin: auto;
	margin-top:0;
	margin-bottom: 0px;
	font-size: 14px;
	color: rgb(128,128,128);
}

img {
	border: 0;
}

li{
	text-indent: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline !important;
}

a:active, a:focus {
	color: #FF5555 !important;
}

.warning {
	color: red;
	font-weight: bold;
}

.hidden {
	display: none;
	visibility: hidden;
}

.pin {
	clear: both;
	visibility: hidden;
}

.separator {
	clear: both;
	border: 0;
}

img.rss {
	max-height: 1em;
}

#page:after, .views:after, .news:after, .teamList .member:after, .teamList:before, .p:after, .separator {
	content: url('images/barre.png');
}

/* Facebook */

.fb-like, .fb-like * {
	display: inline-block !important;
	width: 90px;
}