#page.dossiers a:hover * {
	background-color: #DDD;
}

#page.dossiers a:hover {
	text-decoration: none !important;
}

#page.dossierPage .returnLink {
	display: block;
	margin: 1em 0 0 50px;
}

.dossier .content {
	text-align: center;
	color: #666666;
}

.dossier .comment {
	display: block;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}
