.views div{
	text-align: center;
}

.views h2{
	text-align: left;
}

.views a{
	margin: 0 1em;
}

.news {
	max-width: 550px;
	margin: auto;
	margin-top: 1em;
}

.news .title, .news .subtitle { 
	text-align: left;
}

.news .message {
	display: block;
	margin-bottom: 2em;
}

.news .releases {
	width: 80%;
	margin: auto;
	border: 2px groove #ffe7aa;
	padding: 1em;
	margin-bottom: 2em;
}

.news .comment {
	display: block;
	margin-bottom: 1.5em;
}

/***************************************\
   FACEBOOK & TWITTER STYLES ADJUSTING
\***************************************/

.news .fb-like * {
	margin-top: -4px;
}
