.views div{
	text-align: center;
}

.views a{
	margin: 0 1em;
}

.news .title, .news .subtitle { 
	text-align: left;
}
.news .message {
	display: block;
	margin-bottom: 2em;
}
.news .comment {
	display: block;
}
