#pageContent .released *{
	text-indent: 0;
}
#pageContent .released .title, #pageContent .notReleased .title {
	display: block;
	width: 603px;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-left: 20px;
	padding-top: 5px;
}
#pageContent .released .title {
	background: url('../../images/interface/episodes.png') no-repeat;
}
#pageContent .notReleased .title {
	background: url('../../images/interface/episodesnd.png') no-repeat;
}
#pageContent .released .title a, #pageContent .notReleased .title a {
	display: block;
	font-size: 16px;
	font-family: 'Courier New';
}
#pageContent .released .title a {
	color: #FFFFFF;
}
#pageContent .notReleased .title a {
	color: #999999;
	font-weight: bold;
}
#pageContent .released .previewImage {
	display: block;
	margin: 1em;
}
#pageContent .released .content, #pageContent .notReleased .content {
	text-indent: 10px;
	font-family: Tahoma;
	font-size: 12px;
	font-size: 12px;
	color: #666666;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
}
#pageContent .released .synopsis, #pageContent .released ul {
	margin-top: 0;
	margin-bottom: 10px;
}
#pageContent .released .synopsis {
	text-align: justify;
}
#pageContent .released .comment {
	font-weight: bold;
}
#pageContent .linkList, #pageContent .releaseList, #pageContent .licenseList {
	list-style: none;
	padding-left: 0;
}
#pageContent .linkList {
	padding-left: 10px;
}
#pageContent .fileList {
	list-style-image: url('../../images/icones/puce.png');
	padding-left: 15px;
}
#pageContent .released h1 {
	display: block;
	font-size: 1em;
	margin: 0;
	margin-top: 10px;
}
#pageContent .released .originalName h1, #pageContent .released .localizedName h1, #pageContent .released .size h1, #pageContent .released .codecs h1 {
	display: inline;
	margin-right: 1em;
}
