#page .projectPicture {
	float: right;
	display: block;
	margin: 0;
	padding: 0;
}

#page .deadLinks {
	display: block;
	text-align: right;
}

#page .released *{
	text-indent: 0;
}

#page .released h1, #page .notReleased h1 {
	margin-left: 0;
	letter-spacing: 0;
	font-weight: bold;
}

#page .released .title, #page .notReleased .title {
	display: block;
	width: 603px;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-left: 20px;
	padding-top: 5px;
}

#page .released .title {
	background: url('../../images/interface/episodes.png') no-repeat;
}

#page .notReleased .title {
	background: url('../../images/interface/episodesnd.png') no-repeat;
}

#page .released .title a, #page .notReleased .title a {
	display: block;
	font-size: 16px;
	font-family: 'Courier New';
}

#page .released .title a {
	color: #FFFFFF;
}

#page .notReleased .title a {
	color: #999999;
	font-weight: bold;
}

#page .released .previewImage {
	display: block;
	margin: 1em;
}

#page .released .content, #page .notReleased .content {
	text-indent: 10px;
	font-family: Tahoma;
	font-size: 12px;
	font-size: 12px;
	color: #666666;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0px;
}

#page .released .synopsis, #page .released ul {
	margin-top: 0;
	margin-bottom: 10px;
}

#page .released .synopsis {
	text-align: justify;
}

#page .released .comment {
	font-weight: bold;
}

#page .linkList, #page .releaseList, #page .licenseList, #page .skinList {
	list-style: none;
	padding-left: 0;
}

#page .linkList {
	padding-left: 10px;
}

#page .fileList {
	list-style-image: url('../../images/icones/puce.png');
	padding-left: 15px;
}

#page .released h1 {
	display: block;
	font-size: 1em;
	margin: 0;
	margin-top: 10px;
}

#page .released .originalName h1, #page .released .localizedName h1, #page .released .size h1, #page .released .codecs h1 {
	display: inline;
	margin-right: 1em;
}

#page .discussionLink {
	display:block;
	margin: 0;
	padding: 0;
	text-align: center;
}