.projectListImage, .projectListText {
	list-style: none;
}

.projectListImage li {
	text-align: center;
	margin-bottom: 1.4em;
}

.projectListText li {
	text-align: left;
}
.series h2 {
	color: inherited;
	font-size: 18px;
	margin-left: 150px;
	margin-right: inherited;
	margin-top: inherited;
	letter-spacing: 12px;
	font-family: Tahoma;
	font-weight: normal;
}

.series h3 {
	color: #000000;
	font-size: 17px;
	margin-left: 60px;
	margin-right: 20px;
	margin-top: 0px;
	letter-spacing: inherited;
	font-family: inherited;
	font-weight: inherited;
}

