@import url(style.css);

#main {
	background: url('../../images/interface/bg2h.png') repeat-y;
}

#header, #footer {
	background: url('../../images/interface/banniereh.png') no-repeat;
}

#page:after, #page p:after, .archives:after, .news:after, .teamList .member:after, .teamList:before, .p:after {
	content: url('../../images/interface/barreh.png');
}
